<!DOCTYPE html>
<html lang="es-MX" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xml:lang="es-MX" xmlns:layout="http://www.thymeleaf.org" layout:decorate="/fragments/main_layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container" layout:fragment="container">
    <div id="container" class="col-md-12">
        <h2>Todos los pedidos</h2>
        <h3>Vendedor</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>SUCURSAL</th>
                </tr>
                </thead>
                <tr>
                    <td th:text="${vendedorModel.id}"></td>
                    <td th:text="${vendedorModel.nombre}"></td>
                    <td th:text="${vendedorModel.sucursal}"></td>
                </tr>
            </table>
        </div>
        <h3>Sucursal</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>SUCURSAL</th>
                </tr>
                </thead>
                <tr>
                    <td th:text="${sucursalModel.id}"></td>
                    <td th:text="${sucursalModel.sucursal}"></td>
                </tr>
            </table>
        </div>
        <h3>Producto</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>HAWA</th>
                    <th>MODELO</th>
                    <th>PRECIO</th>
                </tr>
                </thead>
                <tr>
                    <td th:text="${productoModel.id}"></td>
                    <td th:text="${productoModel.hawa}"></td>
                    <td th:text="${productoModel.modelo}"></td>
                    <td>$ <span th:text="${productoModel.precio}"></span>.00</td>
                </tr>
            </table>
        </div>
        <h3>Cliente</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRES</th>
                    <th>APELLIDOS</th>
                    <th>FECHA_NACIMIENTO</th>
                </tr>
                </thead>
                <tr>
                    <td th:text="${clientesModel.id}"></td>
                    <td th:text="${clientesModel.nombres}"></td>
                    <td th:text="${clientesModel.apellidos}"></td>
                    <td th:text="${clientesModel.nacimiento}"></td>
                </tr>
            </table>
        </div>
        <h3>Registro</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>IP</th>
                    <th>HAWA</th>
                    <th>SUCURSAL</th>
                    <th>CLIENTE</th>
                    <th>VENDEDOR</th>
                    <th>TOTAL</th>
                </tr>
                </thead>
                <tr>
                    <td th:text="${registroModel.id}"></td>
                    <td th:text="${registroModel.fecha}"></td>
                    <td th:text="${registroModel.direccionIP}"></td>
                    <td th:text="${registroModel.hawa}"></td>
                    <td th:text="${registroModel.sucursal}"></td>
                    <td th:text="${registroModel.cliente}"></td>
                    <td th:text="${registroModel.vendedor}"></td>
                    <td>$ <span th:text="${registroModel.total}"></span>.00</td>
                </tr>
            </table>
        </div>
        <a th:href="@{/web/display}">Regresar</a>
    </div>
</div>
</body>
</html>